
<form action="" (ngSubmit)="OnSubmit()">
  <h2>Registrar nuevo articulo</h2>

  <div>
    <label for="">Id del articulo</label>
    <input type="text"  name="id" id="" [(ngModel)]="id">
  </div>

  <div>
    <label for="">Nombre del articulo</label>
    <input type="text"  name="title" id="" [(ngModel)]="title">
  </div>

  <div>
    <label for="">Precio</label>
    <input type="text"  name="price" id="" [(ngModel)]="price">
  </div>

  <div>
    <label for="">Cantidad</label>
    <input type="text"  name="quantity" id="" [(ngModel)]="quantity">
  </div>

  <input type="submit"  value="Crear">

</form>





